html {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}


.container {
    font-family: 'Quicksand', sans-serif;
    padding: 0 16px;
}

.container::after, .row-about::after {
    content: "";
    clear: both;
    display: table;
}

.header-section {
    padding: 75px;
    text-align: center;
    background-image: url("./background.jpeg");
    background-size: cover;
    color: #f6f5f5;
    font-family: 'Pacifico', cursive;
}

.header-members {
    text-align:center;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    font-family: 'Pacifico', cursive;
}

.header-section h1 {
    font-size: 75px;
    text-shadow: 2px 2px black;
}

.header-p {
    /*font-family: "Kaushan Script", fantasy;*/
    font-size: 23px;
}

.main-content {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 4em;
    margin-top: 2em;
    border: 1px solid grey;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 12px;
    border-radius: 20px;
    border: 1px solid grey;
}

/* Remove shadow for artwork cards and palette cards. */
.card-no-shadow {
    padding: 2em;
    box-shadow: none;
}

.cp-row {
    margin: 1rem;
    text-align: center;
}

.cp-palette-h {
    width: 50%;
    min-width: 10rem;
    margin-bottom: 3em;
}


*, *:before, *:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    font-family: 'Quicksand', sans-serif;
}

/* Add background color to the top navigation. */
.topnav {
    background-color: black;
    overflow: hidden;
}

/* Style the links inside the navigation bar. */
.topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover. */
.topnav a:hover {
    background-color:white;
    color: black;
}

/* Color the current link. 
.topnav a.active {
    background-color: #22b1ca;
    color: white;
}*/

.break {
    text-align: center;
}

img.flower { 
    width: 40%;
    min-width: 15rem;
    content: center;
}

.title {
    color: grey;
}

.button-about {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.submit-function {
    margin-top: 1em;
    padding: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 1px solid grey;
    text-align: center;
}

.submit-intro {
    padding-left: 0.5em;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
    padding-bottom: 0.5em;
}

.submit-container {
    text-align: center;
}

.form-button {
    margin-top: 0.5em;
}

.painting-prob-section {
    margin-top: 1em;
    padding: 2em;
    border-radius: 20px;
    border: 1px solid grey;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.enter-artist {
    margin-top: 1em;
    padding: 2em;
    border-radius: 20px;
    border: 1px solid grey;
}

.row-forms {
    margin-top: 1em;
}

.likes {
    margin-top: 2em;
    text-align: center;
}

.detail-button-section {
    text-align: center;
}

.more-detail-button {
    margin-top: 1rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


@media (min-width: 768px) {
    .cp-palette {
        width: 15rem;
    }

    img.person {
        min-width: auto;
    }

    .card-img-top {
        width: 100%;
        min-width: 20rem;
    }
}

@media (min-width: 992px) {
    .cp-palette {
        width: 30rem;
    }
}

@media (min-width: 1200px) {
    .cp-palette {
        width: 20rem;
    }
}

@media screen and (max-width: 767px) {
    .cp-palette {
        width: 12rem;
    }
}

@media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }

    .cp-palette {
        width: 12rem;
    }
}

@media screen and (max-width: 480px) {
    .painting-section h3.card-title {
        font-size: 17px;
    }
    
    .painting-section p.card-text {
        font-size: 12px;
    }

    .palette-section a {
        font-size: 12px;
    }

    .palette-section p {
        font-size: 12px;
    }

    .cp-palette {
        width: 12rem;
    }
}

@media screen and (max-width: 465px) {
    .header-section {
        padding: 50px;
    }
    
    .header-section h1 {
        font-size: 65px;
    }

    .container {
        padding: 0 16px;
    }

    .main-content {
        padding: 2em;
    }

    img.flower { 
        width: 20%;
        min-width: 10rem;
    }

    .cp-row {
        margin: 0.1rem;
    }

    .cp-palette {
        width: 7rem;
    }

    .cp-palette-h {
        width: 50%;
        min-width: 7rem;
    }

    .form-group {
        font-size: 12px;
    }

    .painting-section .card-body {
        padding: 0em;
    }
}

@media screen and (max-width: 300px) {
    .header-section {
        padding: 5px;
    }
    
    .header-section h1 {
        font-size: 20px;
    }

    .header-p {
        font-size: 12px;
    }

    .topnav a {
        font-size: 12px;
    }

    .container {
        padding: 0 7px;
    }

    .main-content {
        padding: 0.3em;
    }

    .palette-section .card {
        padding: 1em;
    }

    img.flower { 
        width: 20%;
        min-width: 5rem;
    }

    .cp-row {
        margin: 0.01rem;
    }

    /*
    .cp-row p {
        font-size: 10px;
    }

    .cp-row a {
        font-size: 10px;
    }
    */

    .header-members {
        font-size: 17px;
    }

    /*
    .show-detail {
        font-size: 12px;
    }
    */

    .cp-palette-h {
        width: 50%;
        min-width: 2rem;
        margin-bottom: 1em;
    }

    .cp-palette {
        width: 50%;
        min-width: 2rem;
    }


    .form-group {
        font-size: 12px;
    }

    .painting-section .card-body {
        padding: 0em;
    }

    .painting-section .card {
        padding: 1em;
    }

    .submit-function {
        padding: 1em;
    }

    .submit-intro {
        font-size: 17px;
    }

    .display-button {
        font-size: 10px;
    }

    .footer-p {
        font-size: 12px;
    }
}